[Desktop Entry]
Name=Install Hancom Gooroom
Name[ko]=한컴구름 설치
GenericName=Live Installer
GenericName[ko]=라이브 인스톨러
Comment=Install the operating system to disk
Comment[ko]=한컴구름을 디스크에 설치
Exec=sudo /usr/bin/live-installer
Icon=/usr/share/live-installer/logo.svg
Terminal=False
Type=Application
Categories=System;
